include part/header.pug
body
include part/nav.pug
div(class="container-fluid")
    div(class="row")
        include part/side-menu.pug
        main(class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main")
            ol(class="breadcrumb") 
                li Course
                li  / Course Details / 
                li=Course.CourseID
                - var CourseID =Course.CourseID
            div(class="container")
                div(class="row")
                    div(class="col-10 offset-md-1")
                        H3 
                            i(class="fas fa-user-alt") Course
                        br
                        table(class="table table-condensed")
                            thead
                                tr
                                    th Course info
                                    th details
                            tbody
                                tr
                                    th Course ID
                                    td=Course.CourseID
                                tr
                                    th Course Title
                                    td=Course.Title
                                tr
                                    th Level
                                    td=Course.Level
                        br
                        h6
                            i(class="fas fa-check") 
                                label(for="basic-url") Enrolled 
                        br
                        div(class="container")
                            div(class="row")
                                label(for="basic-url") Search
                            div(class="row")
                                div(class="input-group col-6")
                                    div(class="input-group-perpend")
                                        span(class="input-group-text" for="studentName") Student Name
                                    input(type="text" class="form-control" name="studentName" aria-describedby="basic-addon1" id="studentName" placeholder="Student Name")
                                div(class="input-group col-6")
                                    div(class="input-group-prepend")
                                        label(class="input-group-text"  for="yearselect") Year
                                    select(name="year" id="yearselect" class="custom-select")
                                            option(value='--') All
                                            option(value='2018') 2018
                                            option(value='2017') 2017
                                            option(value='2016') 2016
                                            option(value='2015') 2015
                                            option(value='2014') 2014
                                            option(value='2013') 2013
                                            option(value='2012') 2012
                                            option(value='2011') 2011
                                            option(value='2010') 2010
                            br
                            div(class="row")
                                div(class="col-6")
                                    div(class="input-group-prepend")
                                        label(class="input-group-text"  for="Department") Department
                                        select(name="deptID" id="Department" class="custom-select")
                                                option(value='--') All
                                                option(value='CS') CS
                                                option(value='IS') IS
                                div(class="col-5")
                                    botton(id="Search_Course" class="btn btn-primary") Search
                            br
                            div(class="row")
                                div(class="col-12")
                                    table(class="table table-hover" id="enrollment_listing" style="100%")
                                        thead
                                            tr
                                                th studentID
                                                th student name
                                                th Year
                                                th Dept
                                                th Enroll Date
                                                th action
                        br
                        h6
                            i(class="fas fa-check") 
                                label(for="basic-url") Offered
                        br
                        div(class="container")
                            div(class="row")
                                div(class="col-12") Search
                            div(class="row")
                                div(class="col-12")
                                    table(class="table table-hover" id="offer_listing" style="100%")
                                        thead
                                            tr
                                                th DeptID
                                                th Year
                                                th ClassSize 
                                                th AvaliablePlaces
                        link(href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet")
                        script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
                        script.
                            var CourseID ="#{Course.CourseID}";
                            $("#offer_listing").DataTable({
                                "paging": false,
                                "searching": false,
                                ajax: {
                                    url:'/update/getCourse/'+CourseID,
                                    dataSrc: 'offers'
                                },
                                columns: [
                                    { data: 'DeptID'},
                                    { data: 'Year'},
                                    { data: 'ClassSize'},
                                    { data: 'AvaliablePlaces' }
                                ]
                            })
                            $("#enrollment_listing").DataTable({
                                "paging": false,
                                "searching": false,
                                "ajax": {
                                    "url":'/update/getCourse/'+CourseID,
                                    "dataSrc": "enrolled"
                                },
                                "columns": [
                                   { data: 'studentID' },
                                   { data: 'student_name'},
                                   { data: 'Year'},
                                   { data: 'DeptID'},
                                   { data: 'created_at' },
                                   {
                                       data: 'Action',
                                       "defaultContent": "<i class=\"far fa-edit\"  style=\"cursor: pointer;\"></i> / <i class=\"far fa-trash-alt button\" style=\"cursor: pointer;\"></i>",
                                       "targets": -1
                                   },
                                ]
                            })
                            $('#Search_Course').on('click', function(){
                                $("#enrollment_listing").DataTable().destroy();
                                var dt = $("#enrollment_listing").DataTable({
                                    "searching": false,
                                    "paging": false,
                                    "ajax": {
                                        "url":'/Search/enrolled',
                                        "type": 'GET',
                                        "data": {
                                            courseID: CourseID,
                                            studentName: $('studentName').val(),
                                            yearselect: $('yearselect').val(),
                                            DeptID: $('Department').val()
                                        },
                                        "dataSrc": "Enrolled"
                                    },
                                    "columns": [
                                        { data: 'studentID' },
                                        { data: 'courseID' },
                                        { data: 'DeptID' },
                                        { data: 'Year'},
                                        { data: 'created_at' },
                                        {
                                            data: 'Action',
                                            "defaultContent": "<i class=\"far fa-edit\"  style=\"cursor: pointer;\"></i> / <i class=\"far fa-trash-alt button\" style=\"cursor: pointer;\"></i>",
                                            "targets": -1
                                        },
                                    ],
                                })
                                dt.ajax.reload();
                            })
