include part/header.pug
body
include part/nav.pug
div(class="container-fluid")
    div(class="row")
        include part/side-menu.pug
        main(class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main")
            ol(class="breadcrumb") 
                li Department
                li  / Department Details / 
                li=Department.DeptID
                li / New Offer
                - var DeptID =Department.DeptID
            div(class="container")
                div(class="row")
                    div(class="col-10 offset-md-1")
                        H3 
                            i(class="fas fa-user-alt") Department
                        br
                        table(class="table table-condensed")
                            thead
                                tr
                                    th Department info
                                    th details
                            tbody
                                tr
                                    th Department ID
                                    td=Department.DeptID
                                tr
                                    th Department Name
                                    td=Department.DeptName
                                tr
                                    th Location
                                    td=Department.Location
                        br
                div(class="row")
                    div(class="col-10 offset-md-1")
                        H3
                            i(class="fas fa-plus-circle") Offer
                        div(class="container")
                            div(class="row")
                                div(class="col-4") Course
                                div(class="col-8")
                                    div(class="input-group")
                                        select(id="CourseID" required)
                                            option(value="--") Please Select
                                            -var courses=Courses.data
                                            each course in courses
                                                option=course.CourseID
                            br
                            div(class="row")
                                div(class="col-4") Year
                                div(class="col-8")
                                    div(class="input-group")
                                        input(type="number" id="Year" placeholder="YYYY" min="2000" max="2100" class="form-control")
                            br
                            div(class="row")
                                div(class="col-4") Class Size
                                div(class="col-8")
                                    div(class="input-group")
                                        input(type="number" id="ClassSize" class="form-control" min="10" max="50")
                            br
                            div(class="row")
                                div(class="col-12")
                                    button(class="btn btn-lg btn-primary btn-block" id="submit" type="submit") Save
                            script.
                                $('#submit').on('click', function(){
                                    var CourseID = $('#CourseID').val()
                                    if(CourseID =='--'){
                                        alert('Please select course ID')
                                    } else {
                                        var Dept_id = "#{Department.DeptID}"
                                        var Year = $('#Year').val()
                                        var ClassSize = $('#ClassSize').val()
                                        $.ajax({
                                            url: '/offer',
                                            method: 'PUT',
                                            data: JSON.stringify({
                                                Dept_id: Dept_id,
                                                CourseID: CourseID,
                                                Year: Year,
                                                ClassSize: ClassSize,
                                            }),
                                            success: function(data){
                                                window.location='/front/department/details/'+Dept_id
                                            }
                                        })
                                    }
                                    

                                })